
@{
    ViewData["Title"] = "产品中心";
}
<!-- Start Page Header area -->
<div id="mu-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-header-area">
                    <h1 class="mu-page-header-title"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header area -->
<!-- Start Breadcrumb -->
<div id="mu-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mu-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">产品中心</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start main content -->
<main>

    <!-- Start Services -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-service-area">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-title">
                                    <h2>产品中心</h2>
                                    <p>目前公司产品主要是经纬达系列美缝剂。以下是产品的详细介绍。</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start Service Content -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-service-content">
                                    <div class="row">
                                        <!-- Start single service -->
                                        <div class="col-md-4">
                                            <div class="mu-single-service">
                                                <div class="mu-single-service-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                <div class="mu-single-service-content">
                                                    <h3>产品特点</h3>
                                                    <p>本公司生产的的经纬达晶钻瓷是单组份美缝剂和陶瓷泥的换代产品，其硬度高、光泽好、固化后与瓷同寿，性能远远高于普通填缝剂。具有耐水、耐油、防霉、质硬好清洗、表面光滑等特点，与陶瓷釉相似。具有较好的质感，又具有良好的柔韧性，更适合带有地暖的瓷砖，不用担心瓷砖崩塌的现象！</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End single service -->
                                        <!-- Start single service -->
                                        <div class="col-md-4">
                                            <div class="mu-single-service">
                                                <div class="mu-single-service-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
                                                <div class="mu-single-service-content">
                                                    <h3>适用范围</h3>
                                                    <p>目前产品有金、银、白、灰、黑、棕等十八种颜色，目前公司正在研发新的不同类型的产品。<a></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End single service -->
                                        <!-- Start single service -->
                                        <div class="col-md-4">
                                            <div class="mu-single-service">
                                                <div class="mu-single-service-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
                                                <div class="mu-single-service-content">
                                                    <h3>产品优势</h3>
                                                    <p>香港STC，SGS防水防霉检测，各种化学物质对人体无害，可以放心使用。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End single service -->
                                        <!-- Start single service -->
                                        @*<div class="col-md-4">
                                            <div class="mu-single-service">
                                                <div class="mu-single-service-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                                <div class="mu-single-service-content">
                                                    <h3>产品销量</h3>
                                                    <p>目前产品销售已超过十万支.销往河南省内各个市县区。在市场上的占有率比例逐年提高。</p>
                                                </div>
                                            </div>
                                        </div>*@
                                        <!-- End single service -->
                                        @*Start single service*@
                                        @*<div class="col-md-4">
                                            <div class="mu-single-service">
                                                <div class="mu-single-service-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                                <div class="mu-single-service-content">
                                                    <h3>Customer Support</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor commodo .</p>
                                                </div>
                                            </div>
                                        </div>*@
                                        <!-- End single service -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Service Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services -->
    <!-- Start Video -->
    <div id="mu-video">
        <div class="row">
            <div class="col-md-6">
                <video width="948" height="512" controls="controls">
                    <source src="@Url.Content("~/assets/images/video-bg.mp4")" type="video/mp4">
                    你的浏览器不支持此视频播放！
                </video>
                @*<div class="mu-video-left">
                        <a href="assets/images/about-us1.jpg" class="mu-video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>*@
            </div>
            <div class="col-md-6">
                <div class="mu-video-right">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;该视频主要介绍了我们的产品的一些特征，以及产品的使用方式。以便于您对我们的产品有更好的了解。如果对您有用，欢迎联系我们！同时欢迎有志之士加盟。</p>
                </div>
            </div>
        </div>


        <!-- End Video Popup -->

    </div>
    <!-- End Video -->
    <!-- Start Clients -->
    @*<div id="mu-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-clients-area">

                        <!-- Start Clients brand logo -->
                        <div class="mu-clients-slider">

                            <div class="mu-clients-single">
                                <img src="@Url.Content("~/assets/images/traveler-1.jpg")" alt="Brand Logo">
                            </div>

                            <div class="mu-clients-single">
                                <img src="@Url.Content("~/assets/images/traveler-1.jpg")" alt="Brand Logo">
                            </div>

                            <div class="mu-clients-single">
                                <img src="@Url.Content("~/assets/images/traveler-1.jpg")" alt="Brand Logo">
                            </div>

                            <div class="mu-clients-single">
                                <img src="@Url.Content("~/assets/images/traveler-1.jpg")" alt="Brand Logo">
                            </div>

                            <div class="mu-clients-single">
                                <img src="@Url.Content("~/assets/images/traveler-1.jpg")" alt="Brand Logo">
                            </div>

                            <div class="mu-clients-single">
                                <img src="@Url.Content("~/assets/images/traveler-1.jpg")" alt="Brand Logo">
                            </div>
                        </div>
                        <!-- End Clients brand logo -->

                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- End Clients -->

</main>

<!-- End main content -->
