<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <meta name="baidu-site-verification" content="ezYz1IOLya" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="keywords" content="美缝剂,经纬达,狂鲨达,瓷砖美缝,上海狂鲨达建材有限公司">
    <meta name="description" content="上海狂鲨达建材有限公司是一家以绿色环保为理念，健康至上、惠及千家万户为使命，成为国内高端美缝剂供应商为愿景的企业。 我们坚持采用进口原料，先进工艺保证产品质量，打造一款绿色环保、健康无害的高端美缝剂-经纬达美缝剂。" />
    <title>@ViewData["Title"] |上海狂鲨达建材有限公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="@Url.Content("~/assets/images/favicon.ico")" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="@Url.Content("~/assets/css/slick.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/magnific-popup.css")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/circle.css")">
    <link href="@Url.Content("~/style.css")" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
</head>
<body>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start Header -->
    <header id="mu-hero">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light mu-navbar">
                <a class="navbar-brand mu-logo" a asp-area="" asp-controller="Home" asp-action="Index"><img src="@Url.Content("~/assets/images/logo.png")" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mu-navbar-nav">
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">主页</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About">关于我们</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="ProductCenter">产品中心</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="CosMethod">施工方式</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" asp-area="" asp-controller="Home" asp-action="News" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">新闻中心</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"asp-area="" asp-controller="Home" asp-action="News">行业动态</a>
                                <a class="dropdown-item"asp-area="" asp-controller="Home" asp-action="CompanyNews">经纬达新闻</a>
                            </div>
                        </li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact">联系我们</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="MessageBox">留言板</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->
    @RenderBody()
    <hr />
    <footer id="mu-footer">
        <div class="mu-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mu-single-footer">
                            <img class="mu-footer-logo" src="@Url.Content("~/assets/images/logo.png")" alt="logo">
                            <p>诚招各地代理商，欢迎您的加盟，可以通过右侧的厂家联系方式联系我们。 </p>
                            <div class="mu-social-media">
                                <a href="#"><i class="fa fa-weixin"></i></a>
                                <a class="mu-twitter" href="#"><i class="fa fa-qq"></i></a>
                                <a class="mu-pinterest" href="#"><i class="fa fa-weibo"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mu-single-footer">
                            <h3>社区发文</h3>
                            <ul class="list-unstyled">
                                <li class="media">
                                    <span class="fa fa-weibo"></span>
                                    <div class="media-body">
                                        <p>狂鲨达 上海经纬达美缝剂。欢迎大家来选购。</p>
                                        <a href="#">2 小时以前</a>
                                    </div>
                                </li>
                                <li class="media">
                                    <span class="fa fa-weibo"></span>
                                    <div class="media-body">
                                        <p>狂鲨达联系人：沙经理 电话：18623941299</p>
                                        <a href="#">2小时以前</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mu-single-footer">
                            <h3>友情链接</h3>
                            <ul class="mu-useful-links">
                                <li><a href="#">帮助中心</a></li>
                                <li><a href="@Url.Content("~/#")">下载中心</a></li>
                                <li><a href="#">用户统计</a></li>
                                <li><a href="#">售后支持</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mu-single-footer">
                            <h3>厂家联系方式</h3>
                            <ul class="list-unstyled">
                                <li class="media">
                                    <span class="fa fa-home"></span>
                                    <div class="media-body">
                                        <p>上海市崇明区潘园公路1800号</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <span class="fa fa-phone"></span>
                                    <div class="media-body">
                                        <p>+86 18623941299</p>
                                        <p>+ 86 15821834490</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <span class="fa fa-envelope"></span>
                                    <div class="media-body">
                                        <p>1137023772@qq.com</p>
                                        <p>ruanjian_sjq@126.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mu-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-footer-bottom-area">
                            <p class="mu-copy-right" style="text-align:center">&copy; Copyright 2016-2019 上海狂鲨达建材有限公司  <a href="http://www.beian.miit.gov.cn" target="_blank"/>豫ICP备19027270号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/slick.min.js")"></script>
    <!-- Progress Bar -->
    <script src="https://unpkg.com/circlebars@1.0.3/dist/circle.js"></script>
    <!-- Filterable Gallery js -->
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.filterizr.min.js")"></script>
    <!-- Gallery Lightbox -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/jquery.magnific-popup.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/counter.js")"></script>
    <!-- Ajax contact form  -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/custom.js")"></script>
    <!-- About us Skills Circle progress  -->
    <script>
        // First circle
        new Circlebar({
            element: "#circle-1",
            type: "progress",
            maxValue: "90"
        });

        // Second circle
        new Circlebar({
            element: "#circle-2",
            type: "progress",
            maxValue: "84"
        });

        // Third circle
        new Circlebar({
            element: "#circle-3",
            type: "progress",
            maxValue: "60"
        });

        // Fourth circle
        new Circlebar({
            element: "#circle-4",
            type: "progress",
            maxValue: "74"
        });

    </script>
    <!-- About us Skills Circle progress  -->
    @RenderSection("Scripts", required: false)
</body>
</html>
